[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
boto = "*"
boto3 = "*"
botocore = "*"
google-auth = "*"
jmespath = "*"
netaddr = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
